
.aprendizado__section{
    margin: 10em auto;
    width: 90%;
}

.aprendizado__container{
    margin: 0 auto;
    padding: 2em;
    background-color: var(--preto);
    border: 0.2em solid var(--verde);
    border-radius: 0.4em;
    box-shadow: .5em .5em 1em var(--verde);
}

.aprendizado__titulo , .aprendizado__atualizacao{
    text-align: center;
}

.aprendizado__titulo{
    font-size: 3em;
    font-weight: 700;
    color: var(--verde);
    padding: 0.25em;
}

.aprendizado__atualizacao{
    font-size: 1.5em;
    color: var(--verde);
    padding-bottom: 0.5em;
}

.aprendizadoLista__container{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    flex-wrap: wrap;
}

.aprendizadoLista__title{
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.aprendizado__lista{
    display: inline-block;
    width: 40%;
    list-style-type: disc;
    font-size: 1.25em;
    text-align: justify;
    padding: 1.5em;
    margin: 1em;
    border-radius: 0.4em;
    border: 0.2em solid var(--verde);
    background-color: var(--preto);
    color: var(--verde);
}


.aprendizado__item{
    padding: 0.25em;
}


@media (max-width:1370px) {
    .aprendizado__lista{
        display: inline-block;
        width: 70%;
        line-height: 1;
        list-style-type: disc;
        font-size: 1.25em;
        text-align: justify;
        padding: 1.5em;
        margin: 1em;
        border-radius: 0.4em;
        border: 0.2em solid var(--verde);
        background-color: var(--preto);
        color: var(--verde);
    }
}