.contato{
    margin: 10em 0;
}

.contato__container{
    width: 90%;
    margin: 0 auto;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    background-color: var(--preto);
    border-radius: 0.4em;
    box-shadow: .5em .5em 1em var(--verde);
}

.contato__titulo{
    font-size: 2em;
    font-weight: 700;
    padding: 1em 0;
    color: var(--verde);
}

.contato__tituloLink{
    font-size: 1.5em;
    color: var(--verde);
}

.contato__img{
    width: 15%;
    padding: 1em 0;
}

.observacoes__titulo{
    font-size: 2em;
    font-weight: 700;
    padding: 1em 0;
    color: var(--verde);
}

.observacoes__lista{
    color: var(--verde);
    list-style-type: disc;
}

.observacoesLista__item{
    font-size: 1.5em;
    padding: 0.25em 0;
    line-height: 1.25;
}