
/* ------MAIN STYLES---------- */

.main__container{
    align-items: center;
    justify-content: space-between;
    padding: 10rem 0;
}

.main__textcontainer{
    width: 60%;
}

.main__textcontainer h2{
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--blue-10);
}

.main__textcontainer p{
    color: var(--blue-10);
    font-size: 1.5rem;
    line-height: 1.25;
    padding: 1rem 0;
}

.main__imgcontainer{
    width: 30%;
    padding: 1rem;
    border: 1px solid var(--blue-30);
    border-radius: 50%;
}

.main__imgcontainer img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media(max-width:1200px) {
    .main__container{
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0;
    }

    .main__textcontainer{
        width: 100%;
    }
    
    .main__imgcontainer{
        width: 60%;
    }
}

@media(max-width:940px) {
    .main__container{
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0;
        gap: 2rem;
    }

    .main__textcontainer{
        width: 100%;
    }
    
    .main__imgcontainer{
        width: 60%;
    }
}

@media(max-width:800px) {
    .main__container{
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0;
        gap: 2rem;
    }

    .main__textcontainer{
        width: 100%;
    }
    
    .main__imgcontainer{
        width: 70%;
    }
}

@media(max-width:500px) {
    .main__container{
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0;
        gap: 2rem;
    }

    .main__textcontainer{
        width: 100%;
    }
    
    .main__imgcontainer{
        width: 80%;
    }
}