/* ------PROJETOS STYLES------------- */

.projetos__container {
    padding: 8rem 0;
    flex-direction: column;
    align-items: center;
}

.projetos__textcontainer {
    text-align: center;
}

.projetos__textcontainer h2 {
    font-size: 3.5rem;
    color: var(--blue-10);
    font-weight: 700;
}

.projetos__textcontainer p {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    color: var(--blue-10);
}

.projetos__cardcontainer {
    padding-top: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projetoscard {
    margin-top: 2rem;
    width: 30%;
    background-color: var(--blue-90);
}

.projetoscard__text h4 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.projetoscard__text p {
    font-size: 1.25rem;
    line-height: 1.25;
}

.cardimg__container {
    max-width: 100%;
}

.cardimg__container img {
    width: 100%;
    object-fit: cover;
}

.projetoscard a {
    color: var(--blue-10);
    text-decoration: none;
    position: relative;
    flex-direction: column;
}

.projetoscard h3 {
    font-size: 2rem;
    padding: 1rem 1rem 1rem .5rem;
}

.projetoscard:hover .projetoscard__text {
    opacity: 1;
    cursor: pointer;
}

.projetoscard:hover h3 {
    text-decoration: underline;
}

.projetoscard__text {
    position: absolute;
    padding: 1.5rem;
    opacity: 0;
    height: 100%;
    max-width: 100%;
    background-color: var(--preto-transparente);
    transition: opacity 0.6s ease-in-out;
}

.projetoscard__text h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.projetoscard__text p {
    line-height: 1.25;
}


@media(max-width:1200px) {
    .projetos__textcontainer h2 {
        font-size: 2.5rem;
    }

    .projetos__textcontainer p {
        font-size: 1.25rem;
        padding-top: 0.5rem;
        color: var(--blue-10);
    }

    .projetos__cardcontainer {
        flex-direction: row;
    }

    .projetoscard {
        width: 45%;
        background-color: var(--preto);
    }

    .projetoscard__text {
        position: inherit;
        opacity: 1;
        background-color: var(--blue-60);
        height: auto;
        order: 2;
    }

    .projetos__link h3 {
        font-size: 2rem;
        order: 1;
        text-align: center;
        padding: 1rem 1rem 1rem .5rem;
    }

    .cardimg__container {
        max-width: 100%;
        order: 2;
    }
}

@media(max-width:1000px) {
    .projetos__textcontainer h2 {
        font-size: 2.5rem;
    }

    .projetos__textcontainer p {
        font-size: 1.25rem;
        padding-top: 0.5rem;
        color: var(--blue-10);
    }

    .projetos__cardcontainer {
        flex-direction: row;
    }

    .projetoscard {
        width: 45%;
        background-color: var(--preto);
    }

    .projetoscard__text {
        position: inherit;
        opacity: 1;
        background-color: var(--blue-60);
        height: auto;
        order: 2;
    }

    .projetos__link h3 {
        font-size: 2rem;
        order: 1;
        text-align: center;
        padding: 1rem 1rem 1rem .5rem;
    }

    .cardimg__container {
        max-width: 100%;
        order: 2;
    }

}

@media(max-width:800px) {
    .projetos__textcontainer h2 {
        font-size: 2.5rem;
    }

    .projetos__textcontainer p {
        font-size: 1.25rem;
        padding-top: 0.5rem;
        color: var(--blue-10);
    }

    .projetos__cardcontainer {
        flex-direction: column;
    }

    .projetoscard {
        width: 100%;
        background-color: var(--preto);
    }

    .projetoscard__text {
        position: inherit;
        opacity: 1;
        background-color: var(--blue-60);
        height: auto;
        order: 2;
    }

    .projetos__link h3 {
        font-size: 2rem;
        order: 1;
        text-align: center;
        padding: 1rem 1rem 1rem .5rem;
    }

    .cardimg__container {
        max-width: 100%;
        order: 2;
    }
}

@media(max-width:500px) {
    .projetos__textcontainer h2 {
        font-size: 2.5rem;
    }

    .projetos__textcontainer p {
        font-size: 1.25rem;
        padding-top: 0.5rem;
        color: var(--blue-10);
    }

    .projetos__cardcontainer {
        flex-direction: column;
    }

    .projetoscard {
        width: 100%;
        background-color: var(--preto);
    }

    .projetoscard__text {
        position: inherit;
        opacity: 1;
        background-color: var(--blue-60);
        height: auto;
        order: 2;
    }

    .projetos__link h3 {
        font-size: 2rem;
        order: 1;
        text-align: center;
        padding: 1rem 1rem 1rem .5rem;
    }

    .cardimg__container {
        max-width: 100%;
        order: 2;
    }
}