
.projetos{
    margin: 4em 0;
}

.projetos__titulo , .projetos__descricao{
    color: var(--rosa);
}

.projetos__titulo{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.projetos__descricao{
    font-size: 1.5em;
    text-align: center;
    padding: 1em 0;
}

.projetos__container{
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    border: 0.2em solid var(--preto);
    border-radius: 0.4em;
    background-color: var(--preto);
    box-shadow: .5em .5em 1em var(--rosa);
}


/* Container das Li's  */
.projetosCards__container{
    display: flex;
    column-gap: 1.5em;
    row-gap: 1.5em;
    justify-content: center;
    flex-wrap: wrap;
}

/* Li's */
.projetos__card{
    width: 20em;
    display: flex;
    align-items: flex-end;
}

.projetos__card:hover{
    box-shadow: .5em .5em 1em var(--rosa);
    transition: width ease-in .5s;
}

.projetosCard__link{
    width: 100%;
    text-decoration: none;
}

.projetosCard__texto{
    background-color: var(--rosa);
}

.projetosCard__titulo{
    font-size: 1.5em;
    font-weight: 700;
    padding: 1.5em 0.5em;
    color: var(--preto);
}


.cardImg{
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


@media (max-width:900px) {
    .projetos__card{
        width: 40%;
        display: flex;
        align-items: flex-end;
    }
}