
.sobremim__container{
    display: flex;
    padding:2em;
    align-items: center;
    border: 0.4em solid var(--rosa);
    border-radius: 2em;
    box-sizing: border-box;
    background-color: var(--preto);
    box-shadow: .5em .5em 1em var(--rosa);
    color: var(--rosa);
    margin: 0 auto;
    width: 90%;
    gap: 1rem;

}

.imgSobremim__container{
    width: 25%;
    border-radius: 50%;
    flex-shrink: 2;
}

.sobremim__img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.sobremim__texto{
    width: 70%;
}


.sobremim__titulo{
    font-size: 3em;
    font-weight: 700;
    padding: 0.5rem;
    display: inline-block;
}

.sobremim__descricao{
    font-size: 1.5em;
    padding: 1rem 0;
    display: inline-block;
}

@media (max-width:900px){
    .sobremim__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 0.4em solid var(--rosa);
        border-radius: 2em;
        box-sizing: border-box;
        background-color: var(--preto);
        color: var(--rosa);
        margin: 0 auto;
        width: 90%;
    }

    .sobremim__texto{
        width: 90%;
    }

    .sobremim__descricao:nth-of-type(2){
        display: none;
    }
}