@import url(header.css);
@import url(apresentacao.css);
@import url(animatedborder.css);
@import url(sobremim.css);
@import url(progressbar.css);
@import url(habilidades.css);
@import url(projetos.css);
@import url(contato.css);

:root {
    --black: #0A0A0A;
    --black2: #181818;
    --white: #FAFAFA;
    --blue: #3fc8eb;
    --blue2: #086a83;
    --pink: #ee2fd4;
    --pink2: #9e148c;
    --transparent: #0a0a0add;
    --font: 'Roboto', sans-serif;
}

body {
    font-family: var(--font);
    /* background-color: var(--black); */
    background: linear-gradient(to right, var(--black2), var(--black));
}

.hidden {
    visibility: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.flex {
    display: flex;
}