.apresentacao {
    padding-top: 4rem;
    color: var(--white);
}


.apresentacao__container {
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.apresentacao__title {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .05rem;
    padding: .5rem 0;
    text-align: center;
}

.apresentacao__job {
    font-size: 3rem;
    padding-bottom: .5rem;
}

.apresentacao__button {
    border: 1px solid var(--blue);
    color: var(--black);
    background-color: var(--blue);
    text-decoration: none;
    padding: .75rem 1.25rem;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 1rem 0;
    border-radius: 1.25rem;
    transition: all ease-in .3s;
}

.apresentacao__button:hover {
    background-color: var(--pink);
    border-color: var(--pink);
    padding: 1rem 1.5rem;
}


.apresentacao__links-container {
    padding: .5rem 0;
    text-align: center;
}

.apresentacao__links-container i {
    font-size: 4rem;
    padding-right: 2rem;
    color: var(--blue);
    transition: all .3s;
}

.apresentacao__links-container i:hover {
    color: var(--pink);
}


@media(max-width:1200px) {
    .apresentacao__title {
        font-size: 3rem;
        letter-spacing: .05rem;
        padding: .25rem 0;
    }

    .apresentacao__job {
        font-size: 2rem;
        padding-bottom: .5rem;
    }
}

@media(max-width:800px) {
    .apresentacao__title {
        font-size: 2.5rem;
        letter-spacing: .05rem;
        padding: .25rem 0;
    }

    .apresentacao__job {
        font-size: 1.5rem;
        padding-bottom: .5rem;
    }
}

@media(max-width:500px) {
    .apresentacao__title {
        font-size: 2.5rem;
        letter-spacing: .05rem;
        padding: .25rem 0;
    }

    .apresentacao__job {
        font-size: 1.5rem;
        padding-bottom: .5rem;
    }
}