.habilidades {
    margin: 20rem 0;
}

.skills__container {
    margin-top: 4rem;
    color: var(--white);
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    padding: 3rem 0;
    border-radius: .5rem;
}

.skills__title {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.skills__bubbles {
    padding-top: 2rem;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.skills__prof,
.skills__soft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.prof__bubbles-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.prof__bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    background-color: var(--blue);
    border-radius: 50%;
    box-shadow: 3px 3px 20px var(--blue);
    text-align: center;
}

.prof__bubble i {
    font-size: 2rem;
    color: var(--black);
}

.prof__bubble-text {
    font-size: 1.25rem;
    padding-top: .5rem;
    color: var(--black);
    font-weight: 700;
}

/* .skills__graphs {
    width: 100%;
    padding-top: 4rem;
    gap: 1rem;
} */

/* .skills__prof,
.skills__soft {
    width: 48%;
    padding: 1rem;
    /* border: 1px solid var(--white);
} */


.prof__title {
    font-size: 2rem;
    font-weight: 700;
}

@media(max-width:900px) {
    .skills__title {
        font-size: 2.5rem;
    }

    .prof__title {
        font-size: 1.75rem;
        font-weight: 400;
    }

    .skills__bubbles {
        flex-direction: column;
    }

    .skills__prof,
    .skills__soft {
        width: 100%;
        padding: 1rem;
        /* border: 1px solid var(--white); */
    }
}


@media(max-width:550px) {
    .skills__title {
        font-size: 2.5rem;
    }

    .prof__title {
        font-size: 1.75rem;
        font-weight: 400;
    }

    .skills__bubbles {
        flex-direction: column;
    }

    .skills__prof,
    .skills__soft {
        width: 100%;
        padding: 1rem;
        /* border: 1px solid var(--white); */
    }

    .prof__bubble {
        width: 7rem;
        height: 7rem;
    }

    .prof__bubble-text {
        font-size: 1rem;
        font-weight: 700;
    }
}