.projetos {
    margin: 20rem 0;
}

.projects__container {
    flex-direction: column;
    align-items: center;
}

.projects__title {
    font-size: 4.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.project__cards {
    justify-content: center;
    padding-top: 4rem;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.card {
    width: 27%;
    object-fit: cover;
    min-width: 20rem;
    text-decoration: none;
    /* box-shadow: .75rem .75rem .75rem var(--black); */
    opacity: 1;
    transition: all .5s;
    border: 1px solid var(--black);
    position: relative;
    background-color: var(--black);
    color: var(--blue);
}

/* .card:hover {
    transform: translateY(-.5rem);
    transform: scale(1.05, 1.05);
    box-shadow: .75rem .75rem .75rem var(--blue);
    border: 1px solid var(--blue);
    transition: all 0.8s;
}

.card:hover .card__description {
    visibility: visible;
} */

.btn__card-more {
    margin-top: .5rem;
    background-color: var(--blue);
    color: var(--black);
    font-weight: 700;
    font-size: 1.5rem;
    padding: .5rem .75rem;
    border-radius: .5rem;
    border-style: solid;
    transition: all .5s;
}

.btn__card-more:hover {
    text-decoration: underline;
    padding: .75rem 1rem;
}

.modal-content {
    background-color: var(--black);
}

.modal-header {
    background-color: var(--blue);
}

.modal-title {
    color: var(--black);
    font-size: 2rem;
    font-weight: 700;
}


.modal-body {
    color: var(--blue);
    line-height: 1.75rem;
    font-size: 1.25rem;
}

.modal-body a {
    color: var(--white);
    text-decoration: none;
}

.modal-body a:hover {
    text-decoration: underline;
}

.btn__modal {
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--blue);
    color: var(--black);
    transition: all .5s;
    font-size: 1.25rem;
    font-weight: 700;
}

.btn__modal:hover {
    text-decoration: underline;
}

/* .card__description {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--transparent);
    height: 100%;
    color: var(--white);
    line-height: 1.75;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    z-index: 1;
    word-break: break-word;
    hyphens: auto;
} */

.card__description-title {
    font-size: 1.5rem;
}


.card img {
    width: 100%;
    display: block;
}

.card__text {
    background-color: var(--black);
    padding: 1rem;
}

.card__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-dialog {
    top: 10%;
}


@media(max-width:1200px) {
    .card {
        width: 45%;
        object-fit: cover;
        min-width: 23rem;
        text-decoration: none;
        transition: all .5s;
    }

    /*     .card__description {
        line-height: 1.5;
        padding: 1rem;
        font-size: 1rem;
        letter-spacing: 0.05rem;

    } */

    .card__description-title {
        font-size: 1.5rem;
    }
}

@media(max-width:900px) {
    .projects__title {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .card {
        width: 40%;
        min-width: 18rem;
        text-decoration: none;
        transition: all .5s;
    }
}

@media(max-width:700px) {
    .projects__title {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .card {
        width: 100%;
        object-fit: cover;
        text-decoration: none;
        transition: all .5s;
    }

    /*     .card__description {
        line-height: 1.75;
        padding: 1rem;
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
    }
 */
    .card__description-title {
        font-size: 1.5rem;
    }


}

@media(max-width:500px) {
    .projects__title {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .card {
        width: 100%;
        object-fit: cover;
        text-decoration: none;
        transition: all .5s;
    }
}