.sobremim {
    margin: 20rem 0;
}

.sobre__container {
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding-top: 4rem;
}

.sobre__title {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.sobre__text {
    width: 80%;
    font-size: 1.5rem;
    letter-spacing: .125rem;
    text-align: center;
    line-height: 1.5;
    padding-top: 1.5rem;
}

.sobre__interess {
    padding-top: 5rem;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

.interess__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}



.interess__icons {
    padding-top: 1rem;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    background-color: var(--pink);
    width: 9rem;
    height: 9rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    box-shadow: 3px 3px 20px var(--pink);
    gap: .5rem;
}

.icon i {
    font-size: 2rem;
    color: var(--white);
}

@media(max-width:800px) {
    .sobre__title {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sobre__text {
        width: 100%;
        font-size: 1.25rem;

    }

    .sobre__interess {
        width: 100%;
    }

    .icon {
        width: 8rem;
        height: 8rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 50%;
        box-shadow: 3px 3px 20px var(--pink);
        gap: .5rem;
    }

    .icon i {
        font-size: 2rem;
        color: var(--white);
    }
}

@media(max-width:500px) {
    .sobre__title {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sobre__text {
        width: 100%;
        font-size: 1.25rem;

    }

    .sobre__interess {
        width: 100%;
    }

    .icon {
        width: 8rem;
        height: 8rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 50%;
        box-shadow: 3px 3px 20px var(--pink);
        gap: .5rem;
    }

    .icon i {
        font-size: 2rem;
        color: var(--white);
    }
}