@mixin bgCards() {
    background-size: cover;
    background-position: 50% 50%;
    background-color: $color-grey;
    background-blend-mode: multiply;
}

.cards__container {
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $font-Mont;
    gap: 1rem;
}

.cards__card {
    padding: 15% 0;
    border-radius: $cards-border-radius;
    width: 30%;
    min-width: 250px;
    max-width: 340px;

    &-bg1 {
        background: no-repeat url('../images/background_4.jpg');
        @include bgCards();
    }

    &-bg2 {
        background: no-repeat url('../images/card_img_1.jpeg');
        @include bgSize-bgPosition1-bgPosition2(cover, 50%, 50%);
        background-color: $color-grey;
        background-blend-mode: multiply;
    }

    &-bg3 {
        background: no-repeat url('../images/card_img_3.jpeg');
        @include bgCards();
    }

    &-bg4 {
        background: no-repeat url('../images/background_card_4.jpg');
        @include bgCards();
    }

    &-bg5 {
        background: no-repeat url('../images/background_card_5.jpg');
        @include bgCards();
    }

    &-bg6 {
        background: no-repeat url('../images/background_card_6.jpg');
        @include bgCards();
    }

    &-title {
        text-align: center;
        color: $color-white;
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}

@media(max-width:1000px) {
    .cards__container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    .cards__card {
        padding: 22% 0;
        width: clamp(240px, 44%, 400px);
    }
}

@media(max-width:600px) {
    .cards__container {
        flex-direction: column;
        gap: 1rem;
    }

    .cards__card {
        padding: 22% 0;
        width: clamp(240px, 100%, 100%);
    }
}