.header {
    background-color: $color-white;
    height: 6vh;
}

.header__container {
    padding: 1rem 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-Mont;
}

.header__menu-item {

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-black;
        font-size: 1.25rem;

        &:hover {
            color: $color-yellow;
        }
    }
}

.header__menu-btn {
    display: none;
    border: none;
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.header__menu-icon {
    font-size: 1.5rem;
    transition: all .3s;

    &:hover {
        cursor: pointer;
        color: darkorchid;
    }
}


/* -------------------------------------------------------------- */

.menu {
    position: absolute;
    top: 6vh;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    transition: all .3s;
    z-index: 1;

    &__itens {
        background-color: darken($menu-background-color, 90%);
        width: 35vw;
        transition: all .3s;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
        gap: 1rem;

        &-item {
            font-family: $font-Raleway;

            a,
            i {
                color: $color-white;
            }

            a {
                text-decoration: none;
                text-transform: capitalize;

                &:hover {
                    color: darken($color-grey, 40%);
                }
            }
        }
    }

    &__background {
        background-color: $menu-background-color;
        width: 65vw;
        transition: all .3s;
    }
}

.icon__close {
    align-self: flex-end;

    i {
        cursor: pointer;
        color: $color-white;
    }
}

@media(max-width:900px) {
    .header__menu {
        display: none;
    }

    .header__menu-btn {
        display: block;
        border: none;
    }
}

@media(max-width:600px) {
    .menu__itens {
        width: 50vw;
    }

    .menu__background {
        width: 50vw;
    }


}