@mixin color-bg-color($color , $bg-color) {
    color: $color;
    background-color: $bg-color;
}

@mixin bgSize-bgPosition1-bgPosition2($size , $position1, $position2) {
    background-size: $size;
    background-position: $position1 $position2;
}

@import './variables.scss';
@import './header.scss';
@import './presentation.scss';
@import './cards.scss';
@import './sample.scss';

/* @import url(header.css); */


body {
    background-color: $background-black;
}

.container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}


.hidden {
    display: none;
}

.text__ref {
    a {
        text-decoration: none;
    }

    &-white-green {
        color: white;

        a {
            color: $color-green;
        }
    }

    &-white-orange {
        font-family: $font-Raleway;
        color: white;

        a {
            color: $color-orange ;
        }
    }
}


.btn {
    padding: 1.25rem 2.25rem;
    text-transform: uppercase;
    border-radius: 1.75em;
    width: 11rem;
    text-decoration: none;
    text-align: center;
    font-weight: 600;

    &-orange {
        @include color-bg-color(white, orange);

        &:hover {
            @include color-bg-color(black, lighten(orange, 30%));
        }
    }
}