$color-orange: orange;
$color-black: #0A0A0A;
$color-white: #F1F1F1;
$color-purple: purple;
$color-yellow: rgb(233, 233, 15);
$color-green: yellowgreen;
$color-grey: #d4d4d4;
$font-Mont: 'Montserrat', sans-serif;
$font-Raleway: 'Raleway', sans-serif;
$menu-background-color: #0a0a0ac9;
$background-black: #1A1A1A;
$cards-border-radius: 2em;