$color-orange: orange;
$color-black: #0A0A0A;
$color-white: #F1F1F1;
$color-purple: purple;
$color-yellow: yellow;
$color-green: yellowgreen;
$font-Mont: 'Montserrat', sans-serif;
$font-Open: 'Open Sans', sans-serif;
$menu-background-color: #0a0a0ad3;